@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
:root {
    --primary: #323232;

    --font-family: 'Helvetica Neue', sans-serif;

    --background-header-footer: #101010;
    --white-color: #fff;

    // Default layout
    --default-layout-header-height: 60px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

// Fonts emnbeded
@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helvetica-neue-light.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helveticaneuelight.woff2);
    font-weight: 300;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helvetica-neue-regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helveticaneuemedium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helvetica-neue-medium.woff2);
    font-weight: 500;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helvetica-neue-bold.woff2);
    font-weight: 700;
}

@font-face {
    font-family: Helvetica Neue;
    src: url(/assets/fonts/helveticaneuebold.woff2);
    font-weight: 700;
}

body {
    font-family: var(--font-family);
    font-size: 1.4rem;
    text-rendering: optimizeSpeed;
    background: #3e3e3f;
    color: var(--white-color);
}

a {
    text-decoration: none;
    transition: 0.3s;
    color: var(--white-color);
}

// Default Icon Topzone
[class^='topzone-'],
[class*='topzone-'] {
    background-image: url(//cdn.tgdd.vn/mwgcart/topzone/images/icon-topzone.png?v=1);
    background-repeat: no-repeat;
    display: inline-block;
    height: 30px;
    width: 30px;
    line-height: 30px;
    vertical-align: middle;
    background-size: 514px 226px;
}
