.slider-home {
    position: relative;
    overflow: hidden;
    height: 351px;
}

.slider-item {
    position: relative;
    height: 100%;
}

.slider-item-img {
    height: 100%;
}

.slider-nav {
    position: absolute;
    top: calc(50% - 25px);
    width: 100%;
}

.slider-nav-prev {
    position: absolute !important;
    left: var(--slider-nav-align-lef-right);

    &::before {
        content: '';
        position: absolute;
        border-top: 2px solid #d9d9d9;
        border-left: 2px solid #d9d9d9;
        height: 8px;
        width: 8px;
        transform: rotate(-45deg);
        left: 20px;
        top: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        background-color: #d9d9d9;
        height: 2px;
        width: 14px;
        left: 20px;
        top: 24px;
    }
}

.slider-nav-next {
    position: absolute !important;
    right: var(--slider-nav-align-lef-right);

    &::before {
        content: '';
        position: absolute;
        border-top: 2px solid #d9d9d9;
        border-left: 2px solid #d9d9d9;
        height: 8px;
        width: 8px;
        transform: rotate(135deg);
        right: 19px;
        top: 20px;
    }

    &::after {
        content: '';
        position: absolute;
        background-color: #d9d9d9;
        height: 2px;
        width: 14px;
        left: 18px;
        top: 24px;
    }
}

.slider-dots {
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    left: 0;
    right: 0;
    text-align: center;
}
