.wrapper {
    width: 100%;
    background: var(--background-header-footer);
    height: var(--default-layout-header-height);
    display: flex;
    justify-content: center;
    position: fixed;
}

.inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    width: 100%;
    // display: none;
}

.logo {
    float: left;
    transition: opacity 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    a {
        display: inline-block;
    }

    a:first-child {
        padding: 0 10px 0 0;
        border-right: 1px solid #3b3b3b;
        margin-right: 14px;
    }

    .topzone-logo {
        background-position: 0 0;
        width: 103px;
        height: 35px;
    }

    .topzone-apr {
        background-image: url('../../../assets/images/APR-logo.png');
        width: 32px;
        height: 40px;
        background-size: 100%;
    }
}

.menu {
    width: 65%;
    height: 100%;
}

.list-menu {
    list-style: none;
}

.menu-item {
    float: left;
    width: 12%;
    font-size: 1.4rem;
    transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    a {
        display: block;
        text-align: center;
        padding: 20px 0 20px;
        line-height: 2rem;
    }

    &:hover a {
        background: #2d2d2d;
    }
}

.menu-item:nth-child(1) {
    animation-delay: 30ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(2) {
    animation-delay: 70ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(3) {
    animation-delay: 100ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(4) {
    animation-delay: 130ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(5) {
    animation-delay: 170ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(6) {
    animation-delay: 210ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(7) {
    animation-delay: 240ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

.menu-item:nth-child(8) {
    animation-delay: 270ms;
    animation-duration: 400ms;
    animation-fill-mode: both;
    animation-name: specialFadeIn;
}

@keyframes specialFadeIn {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
    }
}

.search-cart {
    float: right;
    position: relative;

    i {
        display: block;
        margin: 1px auto;
        font-size: 1.4rem;
    }
}

.search {
    .topzone-search {
        background-position: -187px -11px;
        width: 18px;
        height: 18px;
    }
}

.cart {
    display: inline-block;
    vertical-align: middle;
    background: #2f3033;
    border-radius: 100%;
    padding: 10px;
    margin: 0 0 0 14px;
    position: relative;
    height: 40px;
    width: 40px;

    &:hover {
        background: #5e5e60;
    }

    .topzone-cart {
        background-position: -239px -11px;
        width: 14px;
        height: 17px;
    }
}
